body {
    height: 100vh;
}

#home {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

#leftBar {
  min-width: 300px;
  a:hover {
    color: white;
  }
  height: 90vh;
}

#centerBar {
  width: 100%;
  height: 90vh;


}

#rightBar {
  min-width: 275px;
    background-color: aqua;
    height: 90vh;

}

ul, li, a {
    color: inherit;
}

#dragHandle {
  width: 2px;
  background-color: black;
}

#dragHandle:hover {
  cursor: ew-resize;
  background-color: white;
}


.active-sidebar {
    color: white;
}

.rounded-circle-custom {
    border-radius: 50%;
}

.friends {
    h3 {
        font-size: 15px;
        margin: 0;
    }
    p {
        font-size: 10px;
        margin: 0;
    }
}
