body {
  height: 100vh;
}

#home {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

#leftBar {
  min-width: 300px;
  a:hover {
    color: white;
  }
  height: 90vh;
}

#centerBar {
  width: 100%;
  height: 90vh;
  small {
    font-size: 10px;
  }
  .playButton {
    background-color: #1db954;
  }
  .hiddenButton {
    font-size: 10px;
    background-color: rgba(40, 39, 39, 0.571);
  }
}

.hiddenButton:hover {
  cursor: pointer;
}

#rightBar {
  min-width: 275px;
  background-color: aqua;
  height: 90vh;
}

ul,
li,
a {
  color: inherit;
}

#dragHandle {
  width: 5px;
  background-color: black;
  height: 90vh;
}

#dragHandle:hover {
  cursor: ew-resize;
  background-color: white;
}

.active-sidebar {
  color: white;
}

.rounded-circle-custom {
  border-radius: 50%;
}

.friends {
  h3 {
    font-size: 15px;
    margin: 0;
  }
  p {
    font-size: 10px;
    margin: 0;
  }
}
footer {
  height: 10vh;
  p {
    margin-bottom: 0;
    font-size: 0.75em;
  }
}
