body {
  background-color: black;
}

#home {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

#leftBar {
  background-color: red;
  min-width: 250px;
  height: 100vh;
}

#centerBar {
  width: 100%;
  height: 100vh;

}

#rightBar {
  min-width: 200px;
  height: 100vh;
    background-color: aqua;
}

ul, li {
    color: inherit;
}
